.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: var(--azul-neon-escuro);
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 45px;
    width: auto;
    max-height: 50px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--branco);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--azul-neon-claro);
    transition: width 0.3s ease;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
    background-color: var(--ciano-suave);
}

.nav-links a:hover {
    color: var(--ciano-suave);
}

.icons {
    display: flex;
    gap: 18px;
    font-size: 22px;
}

.icons a {
    color: var(--branco);
    text-decoration: none;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: var(--ciano-suave);
}

.nav-links a.active {
    color: var(--ciano-suave);
}

.nav-links a.active::after {
    width: 100%;
    background-color: var(--ciano-suave);
}
